.main {
  --text-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
  background: #9CAFAA;
  font-size: 48px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.contentText {
  display: flex;
  flex-direction: column;
  font-family: var(--font-serif);
  line-height: 1.25;
  color: var(--text-color);
}

.subtitle {
  font-family: var(--font-serif);
  line-height: 1.25;
  color: var(--text-color);
  font-size: 36px;
  text-shadow: 1px 1px 2px black;
}

.bodyText {
  font-family: var(--font-serif);
  line-height: 1.25;
  color: black;
  font-size: 15px;
}

.faqSubtitle {
  font-family: var(--font-serif);
  line-height: 1.25;
  color: black;
  font-size: 24px;
  margin-bottom: 16px;
  border-bottom: 1.5px solid #9CAFAA;
}

.faqContent {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.button {
  display: flex;
  background-color: rgba(1,1,1,0.01);
  text-shadow: 1px 1px 2px black;
  color: #fff;
  border-color: #fff;
  min-width: 120px;
  font-size: 1rem;
  line-height: 1.5;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border-radius: 12px;
  font-weight: 600;
  border: 2px solid;
  font-family: "Helvetica";
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  transition: color 0.3s ease-out, border-color 0.3s ease-out, background-color 0.3s ease-out, text-shadow 0.3s;
}

.button:hover {
  border-color: hsl(214, 38%, 34%);
  background-color: #fff;
  color: hsl(214, 38%, 34%);
  text-shadow: 1px 1px 2px white;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2.5rem;
    font-size: 40px;
  }
}
