.card {
  --shadow-md: 0 1px 4px 0 rgba(24, 29, 54, 0.11),
    0 1px 2px -1px rgba(24, 29, 54, 0.11);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
  padding: 24px;
  background-color: rgb(255,255,255,0.9);
  box-sizing: border-box;
}